@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width:100%;
}
/* COLORS */
:root {
  --russian-violet-dark: #1b014c;
  --russian-violet-light: #e5ddf6;
  --sunglow-dark: #ffd23f;
  --sunglow-light: #ffe89e;
  --red-orange-dark: #fb5012;
  --red-orange-light: #fed2c2;
  --fluorecent-blue-dark: #01fdf6;
  --fluorecent-blue-light: #80fefa;
  --lavender-blue-dark: #cbbaed;
  --lavender-blue-light: #e5ddf6;
  --light-coral-dark: #ef767a;
  --light-coral-light: #fad8d9;
  --sea-green-dark: #23f0c7;
  --sea-green-light: #e0fdf7;
  --middle-blue-purple-dark: #7d7abc;
  --middle-blue-purple-light: #edecf5;
  --ob-dark: #fb5012;
  --ob-light: #fbac8f;
  --og-dark: #632fae;
  --og-light: #9686ae;
  --oh-dark:#0956Fc;
  --oh-light:#87acfc;
  --os-dark:#0ce6A3;
  --os-light:#8BF3D2;
}


/* OUR CODE */

.navbar-brand img {
  width: 140px;
  margin: -7px 0 0 0;
}

.navbar {
  background-color: #ffd23f !important;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #1b014c !important;
  border: none  !important; 
}

.btn-primary:hover {
  background-color: #ffd23f  !important;
  border: none  !important;
  color: #1b014c  !important;
}

.colors {
  padding:0 !important;
  margin:0;
  z-index:1;
}

.colorBtn {
  width:100%;
  border:none;
  height:50px;
  margin:0 !important;
  padding:0 !important;
  display: block;
}

.colorBtn:focus,.colorBtn:active{
border:none;
}

.colors:hover {
  cursor:pointer;
    pointer-events: auto;
}

#colorButtons {
  margin-bottom:30px;
}

.russian-violet-dark {
  background-color:var(--russian-violet-dark)
  
}

.russian-violet-light {
  background-color:var(--russian-violet-light)
}

.sunglow-dark {
  background-color:var(--sunglow-dark)
  
}

.sunglow-light {
  background-color:var(--sunglow-light)
}

.red-orange-dark {
  background-color:var(--red-orange-dark)
  
}

.red-orange-light {
  background-color:var(--red-orange-light)
}

.fluorecent-blue-dark {
  background-color:var(--fluorecent-blue-dark)
  
}

.fluorecent-blue-light {
  background-color:var(--fluorecent-blue-light)
}

.lavender-blue-dark {
  background-color:var(--lavender-blue-dark)
  
}

.lavender-blue-light {
  background-color:var(--lavender-blue-light)
}

.light-coral-dark {
  background-color:var(--light-coral-dark)
  
}

.light-coral-light {
  background-color:var(--light-coral-light)
}

.sea-green-dark {
  background-color:var(--sea-green-dark)
  
}

.sea-green-light {
  background-color:var(--sea-green-light)
}

.middle-blue-purple-dark {
  background-color:var(--middle-blue-purple-dark)
  
}

.middle-blue-purple-light {
  background-color:var(--middle-blue-purple-light)
}

#theCode img {
  /* display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  width:150px; */
}

.summary-box-general-dark {
  background-color:var(--russian-violet-dark);
}
.summary-box-bank-dark {
  background-color:var(--red-orange-dark);
}
.summary-box-gov-dark {
  background-color:#632FAE;
}
.summary-box-health-dark {
  background-color:#0956FC;
}
.summary-box-sustain-dark {
  background-color:#0CE6A3;
}

/* INSET BOX */

.inset-box-general-light {
  background-color:var(--sunglow-dark);
}
.inset-box-bank-light {
  background-color:#FBAC8F;
}
.inset-box-gov-light {
  background-color:#D8C1FB;
}
.inset-box-health-light {
  background-color:#87ACFC;
}
.inset-box-sustain-light {
  background-color:#9686AE;
}

.code-container  {
  color:black;
  font-size:12px;
  background-color:#f4f4f4;
  padding:10px;
  border-radius:10px;
  }
  
  

/* WBOX */
.w-box p {
  margin:20px 0;
}


.w-box-general-dark-btn {
  background-color:var(--russian-violet-dark);

}
.w-box-general-dark-bg {
  color:var(--russian-violet-dark);
  background-color:var(--russian-violet-light);

}
.w-box-general-dark-bg h4 {
  background-color:var(--russian-violet-dark);
  color:white;
  display:inline;
  padding:3px 10px;
  margin-bottom:10px !important;
}

.w-box-ob-dark-btn {
  background-color:var(--red-orange-dark);
}
.w-box-ob-bg {
  background-color:var(--red-orange-light);
  color:var(--russian-violet-dark);
}

.w-box-ob-bg h4 {
  background-color:var(--red-orange-dark);
  color:white;
  display:inline;
  padding:3px 10px;
  margin-bottom:10px !important;
}

.w-box-og-dark-btn {
  background-color:var(--og-dark);
}
.w-box-og-bg {
  background-color:var(--og-light);
  color:var(--russian-violet-dark);
}

.w-box-og-bg h4 {
  background-color:var(--og-dark);
  color:white;
  display:inline;
  padding:3px 10px;
  margin-bottom:10px !important;
}

.w-box-oh-dark-btn {
  background-color:var(--oh-dark);
}
.w-box-oh-bg {
  background-color:var(--oh-light);
  color:var(--russian-violet-dark);
}

.w-box-oh-bg h4 {
  background-color:var(--oh-dark);
  color:white;
  display:inline;
  padding:3px 10px;
  margin-bottom:10px !important;
}

.w-box-os-dark-btn {
  background-color:var(--os-dark);
}
.w-box-os-bg {
  background-color:var(--os-light);
  color:var(--russian-violet-dark);
}

.w-box-os-bg h4 {
  background-color:var(--os-dark);
  color:white;
  display:inline;
  padding:3px 10px;
  margin-bottom:10px !important;
}
      

/* LARGE QUOTE */
.large-quote {
  padding:5px 10px;
}
.large-quote p {
  font-style:italic;
  margin:10px 0;
  color:var(--russian-violet-dark);
}

.large-quote .author,.large-quote .second-line {
  display:flex;
  justify-content:flex-end;
}

.large-quote .author {
font-weight:bold;
}

.dark-purple-btn {
  background-color: var(--russian-violet-dark);
}

.LargeQuote-general-dark-btn {
  background-color:var(--russian-violet-dark);

}
.LargeQuote-general-dark-bg {
  border-left:2px solid var(--russian-violet-dark);
  color:var(--russian-violet-dark);
}

.ob-dark-btn {
  background-color:var(--ob-dark)
}

.LargeQuote-ob-bg {
  border-left:2px solid var(--ob-dark);
  color:var(--russian-violet-dark);
}
.LargeQuote-ob-bg h3 {
  color:var(--ob-dark);
  font-weight: bold;
}

.og-dark-btn {
  background-color: var(--og-dark);
}

.LargeQuote-og-bg {
  border-left:2px solid var(--og-dark);
  color:var(--russian-violet-dark);
}
.LargeQuote-og-bg h3 {
  color:var(--og-dark);
  font-weight: bold;
}

.oh-dark-btn {
  background-color:var(--oh-dark)
}

.LargeQuote-oh-bg {
  border-left:2px solid var(--oh-dark);
  color:var(--russian-violet-dark);
}
.LargeQuote-oh-bg h3 {
  color:var(--oh-dark);
  font-weight: bold;
}

.os-dark-btn {
  background-color:var(--os-dark);
}

.LargeQuote-os-bg {
  border-left:2px solid var(--os-dark);
  color:var(--russian-violet-dark);
}
.LargeQuote-os-bg h3 {
  color:var(--os-dark);
  font-weight: bold;
}

/* SMALLQUOTE */

.smallQuote {
  padding:5px 40px;
  display:flex;
  justify-content:center;
  align-items:center;

  flex-direction:column;
 
}


.smallQuote .author,.smallQuote .second-line {
  display:flex;
  justify-content:center;
  margin:0px 0;
}

.smallQuote .author {
font-weight:bold;
}

.centered-border{
  width:50%;
  height:2px;

}

.smallQuote-general-dark-bg {
  color:var(--russian-violet-dark);
}

.smallQuote-general-dark-bg .centered-border {
  border:2px solid var(--russian-violet-dark);
}

.smallQuote-ob-bg {
  color:var(--russian-violet-dark);
}

.smallQuote-ob-bg .centered-border {
  border:2px solid var(--ob-dark);
}

.smallQuote-ob-bg h3 {
 color:var(--ob-dark);
 font-weight: bold;
 /* font-size:18px; */
}


.smallQuote-og-bg {
  color:var(--russian-violet-dark);
}

.smallQuote-og-bg .centered-border {
  border:2px solid var(--og-dark);
}

.smallQuote-og-bg h3 {
 color:var(--og-dark);
 font-weight: bold;
 /* font-size:18px; */
}

.smallQuote-oh-bg {
  color:var(--russian-violet-dark);
}

.smallQuote-oh-bg .centered-border {
  border:2px solid var(--oh-dark);
}

.smallQuote-oh-bg h3 {
 color:var(--ob-dark);
 font-weight: bold;
 /* font-size:18px; */
}

.smallQuote-os-bg {
  color:var(--russian-violet-dark);
}

.smallQuote-os-bg .centered-border {
  border:2px solid var(--os-dark);
}

.smallQuote-os-bg h3 {
 color:var(--os-dark);
 font-weight: bold;
 /* font-size:18px; */
}



